@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* Gallery */

.hero1-gallery{
    overflow: hidden;
    width: 100%;
    position: relative;
}

 .hero1-gallery .gallery-images {
    display: flex;
    
    list-style: none;
    padding: 2vw 0;
    animation: scroll 10s linear infinite;
    
}

.hero1-gallery:hover .gallery-images {
    animation-play-state: paused;
    cursor: pointer;
    
}

 .hero1-gallery .gallery-images li img {
     width: 17vw;
    height: 15vw; 
    border-radius: 15px;
    margin: 0 1vw;
    animation: rotate 10s linear infinite;
    /* transition: transform 0.4s ease-in-out; */
    animation-timing-function: linear;
}
.hero1-gallery .gallery-images li img:hover{
    animation-play-state: paused;
    /* transform: rotate(0deg) scale(1.1); */
}

@media (min-width:300px) and (max-width:768px){
    /* Gallery */

.hero1-gallery .gallery-images {
    padding: 10vw 0;
}

.hero1-gallery .gallery-images li img {
    width: 35vw;
    height: 35vw;
    margin-top: 5vw;
}

}