.button-component{
    
    display: flex; 
     justify-content: center;
     gap: 0.5vw;
     margin: 0 0.5vw;
}

.button-component button{
    font-size: 1vw;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vw;
    margin-bottom: 0;
    
    border-radius: 1vw;
    border: none;
    box-shadow: 4px 0 10px 4px rgb(190, 189, 189);
    padding: 1vw;
} 
 .button-component button .react_icon{
    font-size: 1.5vw;
    
}


.button-component .black{
    background-color: rgb(27, 26, 26);
    color: white;
    display: flex;
    text-align: center;
}


.button-component .white{
    background-color: white;
    color: black;
    display: flex;
}

.button-component .transparent{
    background: transparent;
    color: white;
}
@media (min-width:300px) and (max-width:768px) {
    .button-component{
        margin-top: 2vw;
   }
   
    .button-component button{
       font-size: 1.7vw;
       padding: 2vw;
   } 
     .button-component button .react_icon{
       font-size: 2.5vw;
   }
}