/* Hero Section */
.hero1-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw 0;
}

.hero1-text .hero1-paragraph p{
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 0.5vw;
}

.hero1-text .hero1-paragraph img{
    width: 20%;
}
.hero1-text .header .h1{
    /* font-family:Arial, Helvetica, sans-serif; */
    letter-spacing: 1px;
    font-size: 5vw;
    font-weight: 600;
    
}

.hero1-text .header span{
    margin: 0 1px;
}
.hero1-text .header p:nth-of-type(1){
    margin-bottom: -1vw;
    margin-top: 0;
}
.hero1-text .header p:nth-of-type(2){
    margin-top: 0;
    margin-left: 6vw;
    position: relative;
    top: 1vw;
    right: 2.5vw;
}

.hero1-text .header p:nth-of-type(2) span img{
    position: absolute;
    right: 17.7vw;
    top: 01vw;
    width: 4vw;

}

.buttons{
    display: flex; 
    justify-content: center;
}



.hero1-text .header .bold_dot {
    font-size: 2.3vw;
    margin-top: 2vw;
    margin-right: 2vw;
}

.green{
    color: rgb(68, 160, 68);
}
button:hover{
    cursor: pointer;
}

@media (min-width:300px) and (max-width:768px) {
     /* Hero Section */
 .hero1-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 7vw;
}

.hero1-text .hero1-paragraph {

}
 .hero1-text .hero1-paragraph p{
    font-size: 1.5vw;
}

 .hero1-text .hero1-paragraph img{
    width: 30%;
    margin-bottom: 3vw;
}
 .hero1-text .header .h1{
    font-size: 6vw;
}

 .hero1-text .header span{
    margin: 0 1px;
}

 .hero1-text .header p:nth-of-type(2) span img{
    right:11vw;
    top: 0.5vw;
    width: 6vw;

}

.buttons{
    margin-top: 6vw;
}

.hero1-text .header p:nth-of-type(1){
    margin-bottom: 0;
    margin-top: 0;
}
.hero1-text .header p:nth-of-type(2){
    margin-top: -2vw;
    margin-left: 6vw;
    
    top: 4vw;
    
}

}